<app-navbar></app-navbar>

<div class="wrapper">
  <div class="row ml-2 d-flex">
    <div class="col-md-7 mt-3 d-flex" style="align-items: center">
      <div class="navbar-brand">
        <span class="fa fa-file-text"></span>
      </div>
      <h2 class="mb-0">Add Invoice</h2>
    </div>
    <div class="col-md-5 text-right mt-3">
      <button class="btn btn-success text-center brownColor mb-1 mr-3" (click)="Cancel()">
        <img alt="phonevector" class="filter-green" src="../../../assets/img/icons/Cancel.svg" />
        Cancel
      </button>
    </div>
  </div>
  <div style="border-bottom: 1px solid #dadcdc; margin: 15px"></div>
  <div class="pl-4 pr-4">
    <form [formGroup]="firstFormGroup">
      <div class="row" style="margin-bottom: 2%">
        <div class="col-md-4">
          <label for="businessGroup"> Business Group </label>
          <ng-multiselect-dropdown [placeholder]="'Choose Business Group'" id="businessGroup"
            [settings]="dropdownSettingsSingleGroup" [data]="businessGroupData" formControlName="businessGroupID"
            (click)="dropDownSelect = true" (onSelect)="getBusinessLocationsByGroupID()"
            (onDeSelect)="getBusinessLocationsByGroupID()">
          </ng-multiselect-dropdown>
          <div style="width: 100%" *ngIf="submitted && firstFormGroup.controls['businessGroupID'].errors">
            <div *ngIf="firstFormGroup.controls['businessGroupID'].errors['required']"
              style="font-size: 80%; color: #dc3545">
              Business Group is required
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="businessLocation"> Business Location </label>
          <ng-multiselect-dropdown [placeholder]="'Choose Business Location'" id="businessLocation"
            [settings]="dropdownSettingsSingleLocation" [data]="businessLocationData"
            formControlName="businessLocationID">
          </ng-multiselect-dropdown>
          <div style="width: 100%" *ngIf="submitted && firstFormGroup.controls['businessLocationID'].errors">
            <div *ngIf="firstFormGroup.controls['businessLocationID'].errors['required']"
              style="font-size: 80%; color: #dc3545">
              Business Location is required
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="invoiceDate"> Invoice Date </label>
          <!-- <i
            class="icon-fs-info ng-scope"
            ngbTooltip="Payment will be deducted on this date every month/year"
            style="vertical-align: middle"
          >
          </i> -->
          <input id="invoiceDate" type="date" class="form-control" formControlName="invoiceDate"
            [ngClass]="{'is-invalid':submitted && firstFormGroup.controls['invoiceDate'].errors}" />
          <div style="width: 100%" *ngIf="submitted && firstFormGroup.controls['invoiceDate'].errors"
            class="invalid-feedback">
            <div *ngIf="firstFormGroup.controls['invoiceDate'].errors['required']">
              Invoice Date is required
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin-bottom: 2%">
        <div class="col-md-4">
          <label for="startDate"> Start Date </label>
          <!-- <i
          class="icon-fs-info ng-scope"
          ngbTooltip="Payment will be deducted on this date every month/year"
          style="vertical-align: middle"
        >
        </i> -->
          <input id="startDate" type="date" class="form-control" formControlName="startDate"
            [ngClass]="{'is-invalid':submitted && firstFormGroup.controls['startDate'].errors}" />
          <div style="width: 100%" *ngIf="submitted && firstFormGroup.controls['startDate'].errors"
            class="invalid-feedback">
            <div *ngIf="firstFormGroup.controls['startDate'].errors['required']">
              Start Date is required
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="endDate"> End Date </label>
          <!-- <i
          class="icon-fs-info ng-scope"
          ngbTooltip="Payment will be deducted on this date every month/year"
          style="vertical-align: middle"
        >
        </i> -->
          <input id="endDate" type="date" class="form-control" formControlName="endDate" [ngClass]="{
              'is-invalid':
                submitted && firstFormGroup.controls['endDate'].errors
            }" />
          <div style="width: 100%" *ngIf="submitted && firstFormGroup.controls['endDate'].errors"
            class="invalid-feedback">
            <div *ngIf="firstFormGroup.controls['endDate'].errors['required']">
              End Date is required
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="amount"> Amount </label>
          <input id="amount" class="form-control" formControlName="amount" autocomplete="off" [ngClass]="{
              'is-invalid':
                submitted && firstFormGroup.controls['amount'].errors
            }" />
          <div *ngIf="submitted && firstFormGroup.controls['amount'].errors" class="invalid-feedback">
            <div *ngIf="
                firstFormGroup.controls['amount'].errors['required'] ||
                firstFormGroup.controls['amount'].errors['pattern']
              ">
              Amount is required
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row mt-4">
          <div class="col-md-12 text-center" style="margin-bottom: 1%">
            <button class="btn btn-success text-center" (click)="SaveInvoice()" [disabled]="isLoading">
              Save
              <i class="fa" [ngClass]="{
                  'fa-spin fa-spinner': isLoading,
                  'fa-check': !isLoading
                }" style="color: white"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>