.bodyclass {
    background: #dbe7ec;
    padding: 15px;
    border-radius: 12px;
    height: 100%;
}

.wrapper {
    background: white;
    border-radius: 15px;
    margin: 20px;
}

.flexdivHeader {
    display: flex;
    border-bottom: solid 1pt #dce3e7;
    padding-bottom: 5px;
    align-items: center;
}

.headerName {
    font-size: 28px;
    font-weight: 700;
    line-height: 43.2px;
}

.text-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.filter-green {
    filter: brightness(0) invert(1);
}

.flexRight {
    flex: 1;
    text-align: right;
}

.editClass {
    background: #7DA3BA;
    border: none;
    border-radius: 3px;
    color: white;
}

.navbar-brand {
    margin-bottom: 10px;
}

.text-right {
    text-align: right !important;
    padding-right: 2rem;
}

.modal-dialog {
    margin: 0 !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}