.wrapper {
    background: white;
    border-radius: 15px;
    margin: 20px;
}

::ng-deep .multiselect-dropdown[_ngcontent-ng-c1411523848] .dropdown-btn[_ngcontent-ng-c1411523848] .selected-item-container[_ngcontent-ng-c1411523848] .selected-item[_ngcontent-ng-c1411523848] {
    max-width: none !important;
}