<app-navbar></app-navbar>

<div class="wrapper">
  <div class="row ml-2 d-flex">
    <div class="col-md-3 mt-3 d-flex" style="align-items: center">
      <div class="navbar-brand">
        <span class="fa fa-credit-card"></span>
      </div>
      <h2 class="mb-0">Payments</h2>
    </div>
    <div class="col-md-7">
      <form [formGroup]="firstFormGroup" class="d-flex">
        <div class="col-md-6 mt-3">
          <ng-multiselect-dropdown
            [placeholder]="'Choose Business Group'"
            id="businessGroup"
            [settings]="dropdownSettingsSingleGroup"
            [data]="businessGroupData"
            formControlName="businessGroupID"
            (onSelect)="getBusinessLocationsByGroupID()"
          >
          </ng-multiselect-dropdown>
        </div>
        <div class="col-md-6 mt-3">
          <ng-multiselect-dropdown
            [placeholder]="'Choose Business Location'"
            id="businessLocation"
            [settings]="dropdownSettingsSingleLocation"
            [data]="businessLocationData"
            formControlName="businessLocationID"
            (onSelect)="getPaymentsByBusinessLocationID()"
          >
          </ng-multiselect-dropdown>
        </div>
      </form>
    </div>
    <div class="col-md-2 text-right mt-3">
      <button
        class="btn btn-success text-center mr-3"
        (click)="AddNewPayment()"
      >
        <span class="fa fa-plus"></span>
        Create Payment
      </button>
    </div>
  </div>
  <div style="border-bottom: 1px solid #dadcdc; margin: 15px"></div>

  <div class="col-lg-12" style="padding: 1%;">
    <table mat-table [dataSource]="paymentData" class="mat-elevation-z8">
      <ng-container matColumnDef="receiptNumber">
        <th mat-header-cell *matHeaderCellDef>Payment No.</th>
        <td mat-cell *matCellDef="let element">{{ element.receiptNumber }}</td>
      </ng-container>
      
      <ng-container matColumnDef="Date & Time">
        <th mat-header-cell *matHeaderCellDef>Date & Time</th>
        <td mat-cell *matCellDef="let element">
          {{ element.created | date : "MMM dd, yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="invoiceNumber">
        <th mat-header-cell *matHeaderCellDef>Invoice No.</th>
        <td mat-cell *matCellDef="let element">{{ element.invoiceNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="Amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">$ {{ element.total }}</td>
      </ng-container>

      <ng-container matColumnDef="Method">
        <th mat-header-cell *matHeaderCellDef>Method</th>
        <td mat-cell *matCellDef="let element">{{ element.capture_method }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center">
      <i
        class="fa"
        [ngClass]="{
          'fa-spin fa-spinner': isLoading,
        }"
        style="color: rgb(0, 0, 0)"
      ></i>
    </div>
  </div>
</div>
